{
    "class": "ChwReset",
    "control": ["hvac_oveChiWatSys_TW_set_u", "hvac_oveChiWatSys_dp_set_u"],
    "activate":["hvac_oveChiWatSys_TW_set_activate","hvac_oveChiWatSys_dp_set_activate"],
    "name": "CHW_RESET",
    "trim": -2.0,
    "respond": 3.0,
    "max_respond": 7,
    "min_sp": [278.71, 50000],
    "max_sp": [283.15, 478250],
    "default_sp": [278.15, 239125],
    "request1": 2.0,
    "request2": 3.0,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "ignored_requests": 0,
    "occupancy_name":"hvac_floor1_readAhu_occ_y",
    "floor1": {
        "cooling_signal": "hvac_floor1_readAhu_yCooVal_y",
        "supply_temperature_setpoint": "hvac_floor1_readAhu_TSup_set_y",
        "supply_temperature": "hvac_floor1_readAhu_TSup_y"
    },
    "floor2": {
        "cooling_signal": "hvac_floor2_readAhu_yCooVal_y",
        "supply_temperature_setpoint": "hvac_floor2_readAhu_TSup_set_y",
        "supply_temperature": "hvac_floor2_readAhu_TSup_y"
    },
    "floor3": {
        "cooling_signal": "hvac_floor3_readAhu_yCooVal_y",
        "supply_temperature_setpoint": "hvac_floor3_readAhu_TSup_set_y",
        "supply_temperature": "hvac_floor3_readAhu_TSup_y"
    }
}