{
    "class": "ChwReset",
    "control": ["chi_writeWatSys_TW_set_u", "chi_writeWatSys_dp_set_u"],
    "activate":["chi_writeWatSys_TW_set_activate","chi_writeWatSys_dp_set_activate"],
    "name": "CHW_RESET",
    "trim": -2.0,
    "respond": 3.0,
    "max_respond": 7,
    "min_sp": [279.15, 30000],
    "max_sp": [283.15, 45000],
    "default_sp": [279.15, 45000],
    "request1": 2.0,
    "request2": 3.0,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "ignored_requests": 0,
    "floor1": {
        "cooling_signal": "hvac_reaAhu_yCooVal_y",
        "supply_temperature_setpoint": "hvac_reaAhu_TSup_set_y",
        "supply_temperature": "hvac_reaAhu_TSup_y"
    }
}