{
    "class": "StaticPressureReset",
    "control": ["hvac_oveAhu_dpSet_u"],
    "activate": ["hvac_oveAhu_dpSet_activate"],
    "name": "STC_RESET",
    "trim": -10.0,
    "respond": 15.0,
    "max_respond": 37,
    "min_sp": 50,
    "max_sp": 375.0,
    "default_sp": [375.0],
    "request1": 0.7,
    "request2": 0.5,
    "dmpr_request_thr": 0.95,
    "ignored_requests": 1,
    "east": {
        "airflow": "hvac_reaZonEas_V_flow_y",
        "airflow_setpoint": "hvac_reaZonEas_V_flow_set_y",
        "damper_command": "hvac_reaZonEas_yDam_y"
    },
    "west": {
        "airflow": "hvac_reaZonWes_V_flow_y",
        "airflow_setpoint": "hvac_reaZonWes_V_flow_set_y",
        "damper_command": "hvac_reaZonWes_yDam_y"
    },
    "south": {
        "airflow": "hvac_reaZonSou_V_flow_y",
        "airflow_setpoint": "hvac_reaZonSou_V_flow_set_y",
        "damper_command": "hvac_reaZonSou_yDam_y"
    },
    "north": {
        "airflow": "hvac_reaZonNor_V_flow_y",
        "airflow_setpoint": "hvac_reaZonNor_V_flow_set_y",
        "damper_command": "hvac_reaZonNor_yDam_y"
    },
    "core": {
        "airflow": "hvac_reaZonCor_V_flow_y",
        "airflow_setpoint": "hvac_reaZonCor_V_flow_set_y",
        "damper_command": "hvac_reaZonCor_yDam_y"
    }
}