{
    "class": "HwReset",
    "control": ["heaPum_writeWatSys_TW_set_u"],
    "activate":["heaPum_writeWatSys_TW_set_activate"],
    "name": "HW_RESET",
    "trim": -1.11,
    "respond": 1.67,
    "max_respond": 3.89,
    "min_sp": 305.372,
    "max_sp": 344.261,
    "default_sp": [318.5],
    "request1": 8.0,
    "request2": 17.0,
    "htg_request_thr": 0.95,
    "ahu": {
        "heating_signal": "hvac_reaAhu_yHeaVal_y",
        "supply_temperature_setpoint": "hvac_reaAhu_TSup_set_y",
        "supply_temperature": "hvac_reaAhu_TSup_y"
    },
    "south": {
        "heating_signal": "hvac_reaZonSou_yReheaVal_y"
    },
    "north": {
        "heating_signal": "hvac_reaZonNor_yReheaVal_y"
    },
    "west": {
        "heating_signal": "hvac_reaZonWes_yReheaVal_y"
    },
    "core": {
        "heating_signal": "hvac_reaZonCor_yReheaVal_y"
    },
    "east": {
        "heating_signal": "hvac_reaZonEas_yReheaVal_y"
    }
}