{
    "class": "VentilationController",
    "control": "hvac_oveAhu_VOAflow_min_u",
    "activate": "hvac_oveAhu_VOAflow_min_activate",
    "max_oa": 5.6,
    "oad_name": "hvac_reaAhu_yOA_y",
    "zones": {
        "south": {
            "airflow_setpoint": "hvac_reaZonSou_V_flow_set_y",
            "airflow": "hvac_reaZonSou_V_flow_y",
            "co2": "hvac_reaZonSou_CO2Zon_y",
            "co2_setpoint": 900.0,
            "co2_low_pid": -200,
            "co2_high_pid": 0,
            "max_airflow": 0.95,
            "voa_area": 0.06228,
            "voa_people": 0.0275,
            "control": "hvac_oveZonSupSou_Vmin_flow_set_u",
            "activate": "hvac_oveZonSupSou_Vmin_flow_set_activate"

        },
        "north": {
            "airflow_setpoint": "hvac_oveZonSupNor_Vmin_flow_set_u",
            "airflow": "hvac_reaZonNor_V_flow_y",
            "co2": "hvac_reaZonNor_CO2Zon_y",
            "co2_setpoint": 900.0,
            "co2_low_pid": -200,
            "co2_high_pid": 0,
            "max_airflow": 0.95,
            "voa_area": 0.06228,
            "voa_people": 0.0275,
            "control": "hvac_oveZonSupNor_Vmin_flow_set_u",
            "activate": "hvac_oveZonSupNor_Vmin_flow_set_activate"

        },
        "west": {
            "airflow_setpoint": "hvac_oveZonSupWes_Vmin_flow_set_u",
            "airflow": "hvac_reaZonWes_V_flow_y",
            "co2": "hvac_reaZonWes_CO2Zon_y",
            "co2_setpoint": 900.0,
            "co2_low_pid": -200,
            "co2_high_pid": 0,
            "max_airflow": 0.7,
            "voa_area": 0.03942,
            "voa_people": 0.0175,
            "control": "hvac_oveZonSupWes_Vmin_flow_set_u",
            "activate": "hvac_oveZonSupWes_Vmin_flow_set_activate"

        },
        "east": {
            "airflow_setpoint": "hvac_oveZonSupEas_Vmin_flow_set_u",
            "airflow": "hvac_reaZonEas_V_flow_y",
            "co2": "hvac_reaZonEas_CO2Zon_y",
            "co2_setpoint": 900.0,
            "co2_low_pid": -200,
            "co2_high_pid": 0,
            "max_airflow": 0.9,
            "voa_area": 0.03942,
            "voa_people": 0.0175,
            "control": "hvac_oveZonSupEas_Vmin_flow_set_u",
            "activate": "hvac_oveZonSupEas_Vmin_flow_set_activate"

        },
        "core": {
            "airflow_setpoint": "hvac_oveZonSupCor_Vmin_flow_set_u",
            "airflow": "hvac_reaZonCor_V_flow_y",
            "co2": "hvac_reaZonCor_CO2Zon_y",
            "co2_setpoint": 900.0,
            "co2_low_pid": -200,
            "co2_high_pid": 0,
            "max_airflow": 4.5,
            "voa_area": 0.29541,
            "voa_people": 0.1225,
            "control": "hvac_oveZonSupCor_Vmin_flow_set_u",
            "activate": "hvac_oveZonSupCor_Vmin_flow_set_activate"

        }
    }
}